{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock title %}
{% block content %}
    <section class="contact spad">
        <div class="container">
            <div class="map">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 col-md-7">
                            <div class="map__inner">
                                <h6>Cake</h6>
                                <ul>
                                    <li>Эл.почта@cake.com</li>
                                    <li><a href="tel:996500002222" style="color: #000;">+996 500-002-222</a></li>
                                    <li><a href="tel:996500001002" style="color: #000;">+996 500-001-002</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map__iframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46800.42522647162!2d74.4969681582031!3d42.851171999999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec9b5cd004971%3A0xe46b007ef6fc0065!2z0J7RgdCe0J4g0J_QotCaIMKr0KjQuNGA0LjQvcK7!5e0!3m2!1sru!2skg!4v1653037871206!5m2!1sru!2skg" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__text">
                        <h3>Биз менен байланышуу</h3>
                        <h6>ЖУМУШ СААТЫ</h6>
                        <ul>
                            <li>Ежедневно 09:00 — 18:00</li>
                            <li>Суббота 09:00 — 15:00</li>
                            <li>Воскресенье — выходной</li>
                        </ul>
                        <img src="img/cake-piece.png" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="contact__form">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Атыңыз">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Эл.почтаңыз">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Кат"></textarea>
                                    <button type="submit" class="site-btn">жөнөтүү</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}