{% extends "base.html" %}
{% load static i18n %}
{% block title %}Shop{% endblock title %}
{% block content %}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Shop</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="/">{% trans "Башкы бет" %} </a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="shop spad">
    <div class="container">
        <div class="row">
            {% for item in object_list %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{{ item.img.url }}">
                        <div class="product__label">
                            <span>{{ item.category }}</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">{{ item.title }}</a></h6>
                        <div>{{ item.price }} сом</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="shop__last__option">
            <div class="row">
                {% if page_obj.has_other_pages %}
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__pagination">
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"><span class="arrow_carrot-left"></span></a>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range %}
                        <a href="?page={{ page }}">{{ page }}</a>
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><span class="arrow_carrot-right"></span></a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__last__text">
                        <p>{{ sweet_count }} {% trans "натыйжанын 1-8 көрсөтүлүүдө" %} </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}